header h1{
    background-color: brown;
    text-align: center;
}

body main {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(184, 189, 238);
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 40px;
}
body footer {
background-color: rgb(146, 136, 136) ;
text-align: center;  
}